<div class="container mt-g"><h1>TECNICO EN LOGISTICA</h1></div>

<!----------------------------contenido----------------------------->
<div class="container-fluid">
  <div class="tecnico">
    <div class="row">
      <div class="col-md-12"> 
     <h2>¿Porque estudiar Tecnico en Logistica?</h2>
     <p>La carrera de Técnico en Logística ofrece las competencias profesionales que permiten al estudiante desarrollarse en diversas competencias tales como:
         <br>
         -Planeación, organización y control de servicios. <br>
         -Aplicación de las tecnologías y sistemas de información para disminuir tiempos y costos en las transacciones. <br>
         -Aplicación de métodos, técnicas y herramientas para la gestión de los flujos de materiales e información dentro de la empresa. <br>
         -Diseño e interpretación de indicadores. Formulación de estadísticas sobre el desempeño logístico. <br>
         -Conocimiento de modelos de alianzas comerciales y/o relaciones comerciales colaborativas. <br>
         -Conocimiento de los sistemas de empaques y embalajes, así como normatividad internacional de éstos. <br>
         -Conocimiento de los estímulos para la inversión en las estrategias de importación y exportación. <br>
         -Evaluación de la cultura intermodal del transporte. <br>
         -Desarrollo de sistemas de seguridad en el transporte, empaques y embalajes. </p>
      
      </div>
      <div class="col-md-12">
       <img  class="img-fluid rounded mx-auto d-block" src="assets/img/careers/career_logistica.jpg" alt="">
      </div>
   
    </div>
  </div>
</div>
<br>
<!----------------------------contenido----------------------------->
  <div class="container-fluid">
  <div class="cita"> 
    <h2>Agenda tu cita</h2>
  <a [routerLink]="['/industrial_petrolero']" > C L I C K    A Q U I </a>
 
  </div>
  </div>
<br>
<!------------------ materias------------------------------------>
<div class="container-fluid">
  <div class="materias">
   <h3>Plan de estudios</h3> 
    <div class="row"> 
      <div class="col-md-4">
  <h2>1ER° SEMESTRE</h2>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Materia</th>
        
      
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">ALGEBRA</th>
   
      </tr>
      <tr>
        <th scope="row">QUIMICA l</th>
   
      </tr>
      <tr>
        <th scope="row">TECNOLOGIA DE LA COMUNICACION Y LA INFORMACION.</th>
  
      </tr>
      <tr>
        <th scope="row">LOGICA</th>

      </tr>
      <tr>
        <th scope="row">LECTURA, EXPRESION ORAL ESCRITA 1</th>
    
      </tr>
      <tr>
        <th scope="row">INGLES 1</th>
      
      </tr>
      <tr>
        <th scope="row">INTRODUCCION A LA LOGISTICA</th>
        
      </tr>
      <tr>
        <th scope="row">FUNDAMENTOS DE ADMINISTRACIÓN</th>
    
      </tr>
      <tr>
        <th scope="row">FUNDAMENTOS DE INVESTIGACIÓN</th>
       
      </tr>
    </tbody>
  </table>
      </div>
      <div class="col-md-4">
        <h2>2DO° SEMESTRE</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Materia</th>
             
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">GEOMETRIA Y TRIGONOMETRIA</th>
     
            </tr>
            <tr>
              <th scope="row">LECTURA EXPRESION ORAL Y ESCRITURA ORAL ll</th>
    
            </tr>
            <tr>
              <th scope="row">INGLES ll</th>
              
            </tr>
            <tr>
              <th scope="row">QUIMICA ll</th>
           
            </tr>
            <tr>
              <th scope="row">BASE DE DATOS</th>
             
            </tr>
            <tr>
              <th scope="row">TALLER DE ÉTICA</th>
    
            </tr>
            <tr>
              <th scope="row">CADENA DE SUBMINISTROS</th>
             
            </tr>
            <tr>
                <th scope="row">MODULO l:Supervisa el proceso de subministros de bienes</th>
               
              </tr>
              <tr>
                <th scope="row">Submodulo 1 - Solicita el documentacion referente a la exportacion 
                    e importación de productos
                </th>
               
              </tr>
              <tr>
                <th scope="row">Submodulo 2 - Identifica el proceso completo de abastecimiento de bienes para la empresa.</th>
               
              </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <h2>3ER° SEMESTRE</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Materia</th>
             
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">GEOMETRIA ANALITICA</th>
            
            </tr>
            <tr>
              <th scope="row">BIOLOGIA</th>
         
            </tr>
            <tr>
              <th scope="row">ETICA</th>
             
            </tr>
            <tr>
              <th scope="row">INGLES lll</th>
 
            </tr>
            <tr>
              <th scope="row">BASE DE DATOS ll</th>
           
            </tr>
            <tr>
              <th scope="row">INVESTIGACIÓN DE OPERACIONES</th>
            
            </tr>
            <tr>
              <th scope="row">LEGISLACIÓN ADUANERA</th>
        
            </tr>
            <tr>
              <th scope="row">MODULO ll. Apoyo en el proceso de administracion del servicio de almacenaje de bienes</th>
       
            </tr>
            <tr>
                <th scope="row">Submodulo 1 - Controla los movimientos de bienes en el alamacen</th>
          
              </tr>
              <tr>
                <th scope="row">Submodulo 2 - organiza operaciones y espacios del almacen</th>
          
              </tr>
              <tr>
                <th scope="row">Submodulo 3 - Supervisa movimientos de mercacia del almacen </th>
          
              </tr>
          </tbody>
        </table>
      </div>


    </div>
    <div class="row"> 
      <div class="col-md-4">
        <h2>4TO° SEMESTRE</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">MATERIA</th>
              
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">CALCULO DIFERENCIAL</th>
    
            </tr>
            <tr>
              <th scope="row">ECOLOGIA</th>
            
            </tr>
            <tr>
              <th scope="row">FISICA I</th>
          
            </tr>
            <tr>
              <th scope="row">INGLE IV</th>
            
            </tr>
            <tr>
              <th scope="row">TRAFICO Y TRANSPORTE</th>
        
            </tr>
            <tr>
              <th scope="row">GESTION Y PROYECCION DE LOGISTICA</th>
             
            </tr>
            <tr>
              <th scope="row">LOGISTICA ESPECILIZADA</th>
         
            </tr>
            <tr>
              <th scope="row">MODULO lll: organiza el transporte de mercancias</th>
             
            </tr>
            <tr>
                <th scope="row">Submodulo 1 - Integra la secuancia de documentos para el transporte de mercancias </th>
               
              </tr>
              <tr>
                <th scope="row">Submodulo 2 - Apoyo la cordinacion de la operacion del transporte entre origen y destino</th>
               
              </tr>
              
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <h2>5TO° SEMESTRES</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">MATERIA</th>
      
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">CALCULO INTEGRAL</th>
              
            </tr>
            <tr>
              <th scope="row">FISICA II</th>
              
            </tr>
            <tr>
              <th scope="row">CIENCIA, TECNOLIGIA, SOCIEDAD Y VALORES</th>
           
            </tr>
            <tr>
              <th scope="row">SERVICIO AL CLIENTE</th>
             
            </tr>
            <tr>
              <th scope="row">MERCADOTECNIA</th>
             
            </tr>
            <tr>
              <th scope="row">CULTURA DE CALIDAD</th>
    
            </tr>
            <tr>
              <th scope="row">MODULO lV: Proves servicio y atencion al cliente sobre los movientos de logistica</th>
            
            </tr>
            <tr>
              <th scope="row"> Submodulo 1 - Proporciones servicio y atencion al cliente sobre el estado
                  que aguardon los envios
              </th>
            
            </tr>
            <tr>
                <th scope="row">Submodulo 2 - Elabora  reportes para proporcion servicios de informacion de la carga de cliente</th>
              
              </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <h2>6TO° SEMESTRE</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">MATERIA</th>
      
            
            </tr>
          </thead>
          <tbody>
             <tr>
              <th scope="row">PROBABILIDAD Y ESTADISTICA</th>
             
            </tr>
            <tr>
              <th scope="row">TEMAS DE FILOSOFIA</th>
         
            </tr>
            <tr>
              <th scope="row">TEMAS DE ADMINISTRACIÓN</th>
              
            </tr>
            <tr>
              <th scope="row">TEMAS DE ECONOMIA</th>
              
            </tr>
            <tr>
              <th scope="row">MODELO DE SIMULACION Y LOGISTICA</th>
              
            </tr>
            <tr>
              <th scope="row">PROCESO LOGISTICA EN EL COMERCIO</th>
              
            </tr>
            <tr>
                <th scope="row">SERVICIO LOGISTICO</th>
                
              </tr>
              <tr>
                <th scope="row">MODULO V: Apoyo  en el calculo de los costos de cadena</th>
                
              </tr>
              <tr>
                <th scope="row">Submodulo 1 - Recopila la informacion necesaria para el calculo de costos de cadena </th>
                
              </tr>
              <tr>
                <th scope="row">Submodulo 2 - Produce informes de la liquidacion  de los servicios logisticos</th>
                
              </tr>
         
          </tbody>
        </table>
      </div>


    </div>
    
  </div>
</div>