
<div class="container mt-g"><h1>TÉCNICO EN TRABAJO SOCIAL</h1></div>

<!----------------------------contenido----------------------------->
<div class="container-fluid">
  <div class="tecnico">
    <div class="row">
      <div class="col-md-12"> 
     <h2>¿Porque estudiar Tecnico en Trabajo social?</h2>
     <p>La formación que ofrece la carrera de Técnico en trabajo social permite al egresado, a través de la articulación de saberes de diversos campos, efectuar actividades dirigidas a la realización y apoyo de la investigación, promoción de servicios y programas institucionales, organización, 
         atender y/o capacitar a grupos; orientar y colaborar en programas comunitarios; así como otorgar atención individualizada.</p>
      
      </div>
      <div class="col-md-12">
       <img  class="img-fluid rounded mx-auto d-block" src="assets/img/careers/career_logistica.jpg" alt="">
      </div>
   
    </div>
  </div>
</div>
<br>
<!----------------------------contenido----------------------------->
  <div class="container-fluid">
  <div class="cita"> 
    <h2>Agenda tu cita</h2>
  <a [routerLink]="['/industrial_petrolero']" > C L I C K    A Q U I </a>
 
  </div>
  </div>
<br>
<!------------------ materias------------------------------------>
<div class="container-fluid">
  <div class="materias">
   <h3>Plan de estudios</h3> 
    <div class="row"> 
      <div class="col-md-4">
  <h2>1ER° SEMESTRE</h2>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Materia</th>
        
      
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">ALGEBRA</th>
   
      </tr>
      <tr>
        <th scope="row">QUIMICA l</th>
   
      </tr>
      <tr>
        <th scope="row">TECNOLOGIA DE LA COMUNICACION Y LA INFORMACION.</th>
  
      </tr>
      <tr>
        <th scope="row">LOGICA</th>

      </tr>
      <tr>
        <th scope="row">LECTURA, EXPRESION ORAL ESCRITA 1</th>
    
      </tr>
      <tr>
        <th scope="row">INGLES 1</th>
      
      </tr>
      <tr>
        <th scope="row">HISTORIA DEL TRABAJO SOCIAL</th>
        
      </tr>
      <tr>
        <th scope="row">FUNDAMENTOS DEL TRABAJO SOCIAL/th>
    
      </tr>
      <tr>
        <th scope="row">METODOS Y TECNICAS DEL TRABAJO SOCIAL</th>
       
      </tr>
    </tbody>
  </table>
      </div>
      <div class="col-md-4">
        <h2>2DO° SEMESTRE</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Materia</th>
             
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">GEOMETRIA Y TRIGONOMETRIA</th>
     
            </tr>
            <tr>
              <th scope="row">LECTURA EXPRESION ORAL Y ESCRITURA ORAL ll</th>
    
            </tr>
            <tr>
              <th scope="row">INGLES ll</th>
              
            </tr>
            <tr>
              <th scope="row">QUIMICA ll</th>
           
            </tr>
            <tr>
              <th scope="row">ANALISIS INSTITUCIONAL Y DISEÑO DE PROGRAMAS SOCIALES</th>
             
            </tr>
            <tr>
              <th scope="row">SOCIEDAD, GENERO Y SALUD</th>
    
            </tr>
            <tr>
                <th scope="row">SALUD PUBLICA</th>
      
              </tr>
          
            <tr>
                <th scope="row">MODULO l: Realiza investigaciones sociales</th>
               
              </tr>
              <tr>
                <th scope="row">Submodulo 1 - Investiga problemas del contexto social
                </th>
               
              </tr>
              <tr>
                <th scope="row">Submodulo 2 - Realiza investigaciones sociales empleando tecnicas e instrumentos</th>
               
              </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <h2>3ER° SEMESTRE</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Materia</th>
             
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">GEOMETRIA ANALITICA</th>
            
            </tr>
            <tr>
              <th scope="row">BIOLOGIA</th>
         
            </tr>
            <tr>
              <th scope="row">ETICA</th>
             
            </tr>
            <tr>
              <th scope="row">INGLES lll</th>
 
            </tr>
            <tr>
              <th scope="row">TRABAJO SOCIAL COMUNITARIO</th>
           
            </tr>
            <tr>
              <th scope="row">ORGANIZACIÓN Y PRIMICIÓN SOCIAL</th>
            
            </tr>
            <tr>
              <th scope="row">TRANAJO SOCIAL Y DESARRILLO INTEGRAL</th>
        
            </tr>
            <tr>
              <th scope="row">MODULO ll. Promueve servicios y programas institucionales</th>
       
            </tr>
            <tr>
                <th scope="row">Submodulo 1 - Orienta a la población acerca de los servicios sociales</th>
          
              </tr>
              <tr>
                <th scope="row">Submodulo 2 - Elabora proyectos sociales</th>
          
              </tr>
              <tr>
                <th scope="row">Submodulo 3 - Realza investigaciones sociales empleando tecnicas e instrumentos</th>
          
              </tr>
             
          </tbody>
        </table>
      </div>


    </div>
    <div class="row"> 
      <div class="col-md-4">
        <h2>4TO° SEMESTRE</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">MATERIA</th>
              
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">CALCULO DIFERENCIAL</th>
    
            </tr>
            <tr>
              <th scope="row">ECOLOGIA</th>
            
            </tr>
            <tr>
              <th scope="row">FISICA I</th>
          
            </tr>
            <tr>
              <th scope="row">INGLE IV</th>
            
            </tr>
           
            <tr>
              <th scope="row">EPIDEMEOLOGIA Y TRABAJO SOCIAP</th>
        
            </tr>
            <tr>
              <th scope="row">EDUCACION NUTRICIONAL</th>
             
            </tr>
            <tr>
                <th scope="row">TEORIA SOCIAL</th>
               
              </tr>
        
            <tr>
              <th scope="row">MODULO lll: Interviene en la atencion a grupos para el desarrollo humano</th>
             
            </tr>
            <tr>
                <th scope="row">Submodulo 1 - Organiza grupos aplicando la metodologia de trabajo social </th>
               
              </tr>
              <tr>
                <th scope="row">Submodulo 2 - Capacita grupos para el desarro hummano</th>
               
              </tr>
              
              
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <h2>5TO° SEMESTRES</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">MATERIA</th>
      
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">CALCULO INTEGRAL</th>
              
            </tr>
            <tr>
              <th scope="row">FISICA ll</th>
              
            </tr>
            <tr>
              <th scope="row">CIENCIA, TECNOLOGIA, SOCIEDAD Y VALORES</th>
           
            </tr>
            <tr>
              <th scope="row">INGLES V</th>
             
            </tr>
            <tr>
              <th scope="row">TRABAJO SOCIAL ll</th>
             
            </tr>
            <tr>
              <th scope="row">EDUCACION REPRODUCTIVA Y SEXUALIDAD HUMANA</th>
    
            </tr>
            <tr>
              <th scope="row">PSICOLOGIA DE LA SALUD</th>
    
            </tr>
            <tr>
              <th scope="row">MODULO IV: Realiza promoción social comunitaria</th>
            
            </tr>
            <tr>
              <th scope="row"> Submodulo 1 - Genera información fiscal de las personas fisicas
              </th>
            
            </tr>
            <tr>
                <th scope="row">Submodulo 2 - Participa en la gestion de proyectos comunitarios</th>
              
              </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <h2>6TO° SEMESTRE</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">MATERIA</th>
      
            
            </tr>
          </thead>
          <tbody>
             <tr>
              <th scope="row">PROBABILIDAD Y ESTADISTICA</th>
             
            </tr>
            <tr>
              <th scope="row">TEMAS DE FILOSOFIA</th>
         
            </tr>
            <tr>
              <th scope="row">TEMAS DE CIENCIAS SOCIALES</th>
              
            </tr>
            <tr>
              <th scope="row">LITERATURA</th>
              
            </tr>
            <tr>
              <th scope="row">ADMINISTRACION ESTRATEGICA EN TRABAJO SOCIAL</th>
              
            </tr>
            <tr>
              <th scope="row">ATENCION A GRUPOS VULNERABLES</th>
              
            </tr>
            <tr>
                <th scope="row">TRABAJO SOCIAL INDIVIDUAL</th>
                
              </tr>
           
              <tr>
                <th scope="row">MODULO V: Apoyo en la interaccion individualizada</th>
                
              </tr>
              <tr>
                <th scope="row">Submodulo 1 - Interviene en la problematica individualizada </th>
                
              </tr>
              <tr>
                <th scope="row">Submodulo 2 - Establece redes sociales de apoyo a problematicas individuales</th>
                
              </tr>
         
          </tbody>
        </table>
      </div>


    </div>
    
  </div>
</div>