<!-------------------------------calidad---------------------------------->
<div class="container-fluid">
  <div class="calidad">
    <div class="row">
      <div class="col-md-4"> 
      <h3>Educacion de calidad</h3>
      <img src="assets/iconos/taza.png" alt="">
      </div>
      <div class="col-md-4"> 
        <h3>Colegiatura accesible</h3>
        <img src="assets/iconos/dinero(1).png" alt="">
      </div>
      <div class="col-md-4"> 
 <h3>Horarios Flexibles</h3>
 <img src="assets/iconos/calendario.png" alt="">
      </div>
    </div>
  </div>
</div>
<!-------------------------------calidad---------------------------------->
<!-------------------------------Mapa---------------------------------->
<div class="container-fluid">
  <div class="mapa">
    <div class="row">
     <div class="col-md-10"> 
      <iframe src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d242949.96191232174!2d-93.20156271846102!3d17.927808544584046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!3e6!4m3!3m2!1d17.981018199999998!2d-92.98459729999999!4m3!3m2!1d17.8671067!2d-93.150233!5e0!3m2!1ses-419!2smx!4v1597630537590!5m2!1ses-419!2smx" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
     </div>
     <div class="col-md-2"> 
        <h2>Cactáceas, 29500 Reforma, Chis.</h2>
    </div>
    </div> 
  </div>
</div>
<!-------------------------------Mapa---------------------------------->
<!-------------------------------Footers--------------------------------->
<div class="container-fluid">
  <div class="contacto">      
     <h3>contactos</h3>
    <div class="row">
     <div class="col-md-4"> 
      <div class="container-fluid">
        <div class="iconos">
  
      
        
      
        </div>
      </div>
     </div>
     <div class="col-md-4"> 

    </div>
    <div class="col-md-4"> 

    </div>
    </div> 
  </div>
</div>
<!-------------------------------Footers--------------------------------->