
<div class="container-fluid">
  <div class="footer">
    <div class="row"> 
      <div class="col-md-3">
        <h2>Contacto</h2>
       <ul>
         
         <li><a href="tel:9173280757"><img src="assets/iconos/llamada.png" alt="Telefono"> Telefono: 9173280757 </a></li> <br>
         <li><a href="https://wa.me/9171268973"><img src="assets/iconos/whatsapp.png" alt="whatsApp"> whatsApp: 9171268973 <br> </a></li>  <br>
         <li><a href="InstitutoCuauhtemoc.Reforma@gmail.com"> <img src="assets/iconos/gmail.png" alt="Correo">   Gmail: <br> InstitutoCuauhtemoc.Reforma@gmail.com</a></li>
       </ul>
      </div>



      <div class="col-md-3">
      <h2>Redes Sociales</h2>
      <ul>
       
       <li> <a href="https://www.facebook.com/InstitutoCuauhtemocReforma-108968114007043"><img src="assets/iconos/facebook.png" alt=""> InstitutoCuauhtémoc.Reforma</a> </li>
       <br>
       <li> <a href="#"><img src="assets/iconos/instagram.png" alt=""> InstitutoCuauhtémoc.Reforma</a></li>
       <br>
       <li> <a href="#"><img src="assets/iconos/youtube.png" alt=""> InstitutoCuauhtémoc.Reforma</a></li>
       <br>
      



      </ul>

      </div>
      <div class="col-md-3">
      <h2>Ubicacion.</h2>
       <div class="mapa"> <iframe src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d242949.96191232174!2d-93.20156271846102!3d17.927808544584046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!3e6!4m3!3m2!1d17.981018199999998!2d-92.98459729999999!4m3!3m2!1d17.8671067!2d-93.150233!5e0!3m2!1ses-419!2smx!4v1597630537590!5m2!1ses-419!2smx" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
      <p>Cactáceas, 29500 Reforma, Chis.</p>
      </div>
      <div class="col-md-3">
      <h2>Informate</h2>

      <ul>
      <li> <a [routerLink]="['/nosotros']"> ¿Quienes somo?</a> </li>
      <br>
      <li> <a [routerLink]="['/nosotros']">Registrate</a> </li>
      <br>
      <li> <a [routerLink]="['/nosotros']"> Difucion.</a> </li>
      <br>
      <li> <a [routerLink]="['/']"><img src="assets/iconos/home.png" alt=""> Inicio</a></li>
      <br>


      </ul>
      
    


      </div>


    </div>
  
  </div>
</div>  
<div class="pie-pagina">© 2020 Copyright:</div>
<!-------------------------------Footers--------------------------------->

