h2{
    font-family: 'Encode Sans', sans-serif;
    font-size: 25px;
    color:  #04457a;
    text-align: center;
}
 p{
     color:   #04457a;
     font-size: 20px;
 }

 

iframe {
    width: 100%;
    height: auto;
}

ul{
    list-style: none;
    list-style-type: none;
    width: 100%;
}


li{
     text-align: justify;
     color:   #04457a;
     text-decoration: none;
     font-size: 20px;
}

li a{
    text-decoration: none;
    color:  #04457a;
    font-size: 18px;
}



li a:hover{
    text-decoration: none;
    color:  #f39c12;
    font-size: 18px;
}

li img{
    padding: 5px;
}

.pie-pagina {
    background-color:  #04457a;
    color: #ffffff;
    text-align: center;
}

