

  <div class="container-fluid ">
  
      <h1 class="animate__animated animate__bounce " >Instituto Cuauhtémoc Reforma</h1>
      <h2> Excelencia Académica, Siempre.</h2>
       <h3>  ¿Quienes Somos? </h3>
       <p> <b>INSTITUTO "CUAUHTEMOC".</b>  Aquí se reúne un selecto grupo de profesionales de la educación que guiados por un estricto código de ética y tecnologías de vanguardia, tienen como objetivo el ofrecer a sus alumnos, un servicio de excelencia educativa con calidez humana.</p>
       <p><b>OBJETIVO.</b>  Formar profesionales y personal académico para la aplicación y generación de conocimientos, que les permita solucionar los problemas Y mejorar en el avance del conocimiento, a través de las investigaciones científicas y tecnológicas, con los diversos sectores para consolidar el desarrollo tecnológico y social; planear y ejecutar las actividades curriculares, para realizar el proceso enseñanza-aprendizaje y promover la cultura regional, estatal y  nacional.</p>
      </div>


 
<div class="container">
<div class="acordeon">
  <div class="row"> 
    <div class="col-md-12">
  
        
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Mision
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
             <p>Ofrecer servicios educativos de calidad con reconocimiento nacional e internacional, vinculados con el entorno para atender los retos sociales, culturales, económicos y políticos; académicos
               altamente calificados en docencia y comprometidos con el desarrollo sustentable del país.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Vision
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
             <p>Ser un Instituto Privada de excelencia con una organización inteligente, innovadora y liderazgo , que dé respuesta a los retos sociales, culturales, económicos y políticos en el entorno local y regional.</p> 
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Valores
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <p>Fortalecer la relación de la comunidad universitaria con la sociedad en general. Los valores considerados como parte de la cultura institucional</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<br>
<div class="container">
  <div class="nuestro">
    <div class="row">
      <div class="col-md-4">
       <h2>— Nuestro Equipo —</h2>
       <p>Todos nuestros docentes cuentan con Título y Cédula Profesional Inscritos en el padrón de profesionistas de la SEP.</p>


      </div>
      <div class="col-md-4">
        <h2> — Nuestro Lema—</h2>
      <p>Nuestro modelo educativo esta regido por la D.G.E.T.I y  desarrollado a través de  competencias basado en lo teórico y práctico para mayor aprovechamiento</p>
      </div>
      <div class="col-md-4">
        <h2> — Nuestros valores —</h2>
        <ul>
          <li>- Valores  </li>

            <li>- Honestidad</li>
            
            <li>- Responsabilidad</li>   
            
            <li> - Tolerancia</li> 
            
            <li>- Identidad</li> 
        </ul>
      </div>

    </div>
  </div>
</div>
<br>
<div class="container-fluid"> 
  <div class="ventajas">
  
<h3> Ventajas de estudiar Bachillerato Técnico en el Instituto Cuauhtémoc Reforma</h3>
 <ul>
   <li>1.- Hay una gran oferta académica y diferentes planteles que lo imparten, tanto públicos como privados de entre los que puedes elegir el programa o capacitación técnica que más te interese.</li>
   <li>2.- Las carreras técnicas de todos estos planteles están relacionadas con actividades y sectores económicos que tienen mucha demanda en el mercado laboral.</li>
   <li>3.- Te da la oportunidad de trabajar y hacer una licenciatura al mismo tiempo.</li>
   <li>4.- Dependiendo del plantel, puedes optar por una modalidad de estudio presencial o abierta en la que solo tomarías cerca del 30% de las clases de manera presencial.</li>
   <li>5.- Al terminar obtienes el título de técnico en el área de tu elección y puedes ingresar al mercado laboral de inmediato y con mejores posibilidades salariales que si buscaras trabajo sin ningún tipo de preparación.</li>
   <li>6.- Si no tienes muy claro aún qué carrera universitaria quieres estudiar, contar con un bachillerato tecnológico te dará las herramientas prácticas para probar algunas actividades profesionales que te ayudarán a decidirte.</li>
   <li>7.- Está más enfocado a la práctica que una licenciatura que tiene mucho más contenido teórico.</li>
 </ul>
</div>
</div>
  
<br>
<div class="container-fluid">
  <div class="calidad d-none d-md-block">
    <div class="row">
      <div class="col-md-4"> 
      <h3>Educacion de calidad</h3>
      <img src="assets/iconos/taza.png" alt="">
      </div>
      <div class="col-md-4"> 
        <h3>Colegiatura accesible</h3>
        <img src="assets/iconos/dinero(1).png" alt="">
      </div>
      <div class="col-md-4"> 
 <h3>Horarios Flexibles</h3>
 <img src="assets/iconos/calendario.png" alt="">
      </div>
    </div>
  </div>
</div>