<div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="message">
  {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-form-field class="w-25">
  <mat-label>Buscar usuario</mat-label>
  <input matInput (keyup)="applyFilter($event)">
</mat-form-field>
<table mat-table [dataSource]="dataSource" class="w-100">


  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nombre</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="surname">
    <th mat-header-cell *matHeaderCellDef> Apellidos</th>
    <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Correo</th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="avatar">
    <th mat-header-cell *matHeaderCellDef> Perfil</th>
    <td mat-cell *matCellDef="let element">
      <img src="http://ircc.net/api/viewImg/{{element.avatar}}" alt="avatar" width="50">
    </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Actualizar</th>
    <td mat-cell *matCellDef="let element">
      <button *ngIf="dataUser.sub != element.id" mat-mini-fab color="primary" (click)="openDialog(element)">
        <i class="far fa-edit"></i>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Eliminar</th>
    <td mat-cell *matCellDef="let element">
      <button *ngIf="dataUser.sub != element.id" mat-mini-fab color="warn" (click)="delete(element.id)">
        <i class="far fa-trash-alt"></i>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

<button mat-mini-fab color="primary" class="btn-float" (click)="addUser()">
  <i class="fas fa-plus"></i>
</button>
