<div class="container mt-g">
    <h1>TÉCNICO EN ADMINISTRACIÓN DE RECURSOS HUMANOS</h1></div>

<!----------------------------contenido----------------------------->
<div class="container-fluid">
  <div class="tecnico">
    <div class="row">
      <div class="col-md-12"> 
     <h2>¿Porque estudiar Técnico en Administración de Recursos Humanos?</h2>
     <p>La carrera de Técnico en Administración de Recursos Humanos se desarrolla como vertiente de la carrera de Administración y ofrece las competencias profesionales que permiten al estudiante elaborar y gestionar documentación administrativa referente a recursos humanos, integrar al personal a la organización, asistir en actividades de capacitación, desarrollo y evaluación del personal, así como determinar las remuneraciones al personal. </p>
      
      </div>
      <div class="col-md-12">
       <img  class="img-fluid rounded mx-auto d-block" src="assets/img/careers/career_petrolero.jpg" alt="">
      </div>
   
    </div>
  </div>
</div>
<br>
<!----------------------------contenido----------------------------->
  <div class="container-fluid">
  <div class="cita"> 
    <h2>Agenda tu cita</h2>
  <a [routerLink]="['/industrial_petrolero']" > C L I C K    A Q U I </a>
 
  </div>
  </div>
<br>
<!------------------ materias------------------------------------>
<div class="container-fluid">
  <div class="materias">
   <h3>Plan de estudios</h3> 
    <div class="row"> 
      <div class="col-md-4">
  <h2>1ER° SEMESTRE</h2>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Materia</th>
        
      
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">ALGEBRA</th>
   
      </tr>
      <tr>
        <th scope="row">QUIMICA 1</th>
   
      </tr>
      <tr>
        <th scope="row">TECNOLOGIA DE LA INFORMACION Y COMUNICACION.</th>
  
      </tr>
      <tr>
        <th scope="row">LOGICA</th>

      </tr>
      <tr>
        <th scope="row">LECTURA, EXPRESION ORAL ESCRITA 1</th>
    
      </tr>
      <tr>
        <th scope="row">INGLES 1</th>
      
      </tr>
      <tr>
        <th scope="row">ADMINISTRACIÓN I</th>
        
      </tr>
      <tr>
        <th scope="row">ADMINISTRACIÓN DE RECURSOS HUMANOS</th>
    
      </tr>
      <tr>
        <th scope="row">DESARROLLO DEL CAPITAL HUMANO</th>
       
      </tr>
      
    </tbody>
  </table>
      </div>
      <div class="col-md-4">
        <h2>2DO° SEMESTRE</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Materia</th>
             
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">GEOMETRIA Y TRIGONOMETRIA</th>
     
            </tr>
            <tr>
              <th scope="row">LECTURA EXPRESION ORAL Y ESCRITURA ORAL ll</th>
    
            </tr>
            <tr>
              <th scope="row">INGLES ll</th>
              
            </tr>
            <tr>
              <th scope="row">QUIMICA ll</th>
           
            </tr>
            <tr>
              <th scope="row">ADMINISTRACIÓN ll</th>
             
            </tr>
            <tr>
              <th scope="row">MERCADOTECNIA</th>
    
            </tr>
            <tr>
              <th scope="row">ETICA DE LOS NEGOCIOS</th>
             
            </tr>
            <tr>
              <th scope="row">MODULO I: Elabora y gestiona la informacion administrativa de la organizacion</th>
             
            </tr>
            <tr>
              <th scope="row">Submodulo 1 - Elabora documentacion administrativa</th>
             
            </tr>
            <tr>
              <th scope="row">Submodulo 2 - Gestiona documentacion administrativa</th>
             
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <h2>3ER° SEMESTRE</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Materia</th>
             
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">GEOMETRIA ANALITICA</th>
            
            </tr>
           
            <tr>
              <th scope="row">BIOLOGIA</th>
             
            </tr>
            <tr>
              <th scope="row">INGLES lll</th>
 
            </tr>
            <tr>
              <th scope="row">ETICA</th>
           
            </tr>
            <tr>
              <th scope="row">PERSONAL I</th>
            
            </tr>
            <tr>
              <th scope="row">SOCIOLOGIA DE LA ORGANIZACIÓN</th>
        
            </tr>
            <tr>
              <th scope="row">ADMINISTRACION DEL SECTOR PÚBLICO</th>
        
            </tr>
            <tr>
              <th scope="row">MODULO II: Integra el capital humano a la organización</th>
        
            </tr>
            <tr>
              <th scope="row">Submodulo 1 - Realiza el proceso de admisión y empleo</th>
        
            </tr>
            <tr>
                <th scope="row">Submodulo 2 - Constribuye a la integración y desarrollo del personal en la organización</th>
          
              </tr>
          
          
          
          </tbody>
        </table>
      </div>


    </div>
    <div class="row"> 
      <div class="col-md-4">
        <h2>4TO° SEMESTRE</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">MATERIA</th>
              
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">CALCULO INTEGRAL</th>
    
            </tr>
            <tr>
              <th scope="row">ECOLOGIA</th>
            
            </tr>
            <tr>
              <th scope="row">FISICA I</th>
          
            </tr>
            <tr>
              <th scope="row">INGLE IV</th>
            
            </tr>
            <tr>
              <th scope="row">PERSONAL II </th>
        
            </tr>
            <tr>
              <th scope="row">DESARROLLO DE LA ORGANIZACIÓN</th>
             
            </tr>
            <tr>
              <th scope="row">DESARROLLO DE LIDERES EMPRENDEDORES</th>
         
            </tr>
            <tr>
              <th scope="row">MODULO III: Asiste en el control y evaluación del desempeño del capital humano en la organización.
               </th>
             
            </tr>
            <tr>
              <th scope="row"> Submódulo 1 - Asiste en las actividades de capacitación para el desarrrollo del capital humano.</th>
             
            </tr>
            <tr>
              <th scope="row">Submódulo 2 - Evalúa el desempeño de la organización utilizando herramientas de calidad.</th>
             
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <h2>5TO° SEMESTRES</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">MATERIA</th>
      
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">CÁLCULO INTEGRAL</th>
              
            </tr>
            <tr>
              <th scope="row">FÍSICA II</th>
              
            </tr>
            <tr>
              <th scope="row">CIENCIA, TECNOLIGIA, SOCIEDAD Y VALORES</th>
           
            </tr>
            <tr>
              <th scope="row">INGLES V</th>
             
            </tr>
            <tr>
              <th scope="row">SEGURIDAD E HIGIENE</th>
             
            </tr>
            <tr>
              <th scope="row">PSICOLOGÍA DEL TRABAJO</th>
    
            </tr>
            <tr>
              <th scope="row">DERECHO DEL TRABAJO</th>
            
            </tr>
            <tr>
              <th scope="row">MÓDULO IV: Controla los procesos y servicios de higiene y seguridad del capital humano en la organización.</th>
            
            </tr>
            <tr>
              <th scope="row">Submódulo 1 - Supervisa el cumplimiento de las medidas de higiene y seguridad en la organización.</th>
            
            </tr>
            <tr>
              <th scope="row">Submódulo 2 - Supervisa el cumplimiento de tareas y procesos para evaluar la productividad en la organización.</th>
            
            </tr>

          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <h2>6TO° SEMESTRE</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">MATERIA</th>
      
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">PROBABILIDAD Y ESTADÍSTICA
                </th>
             
            <tr>
              <th scope="row">TEMAS DE FÍLOSOFÍA</th>
             
            </tr>
            <tr>
              <th scope="row">TEMAS DE ADMINISTRACIÓN
                </th>
         
            </tr>
            <tr>
              <th scope="row">TEMAS DE ECONOMÍA</th>
              
            </tr>
            <tr>
              <th scope="row">SUELDOS Y SALARIOS
               </th>
              
            </tr>
            <tr>
              <th scope="row"> SEGURO SOCIAL, INFONAVIT Y SAR</th>
              
            </tr>
            <tr>
              <th scope="row">PRESUPUESTOS
                </th>
              
            </tr>
            <tr>
              <th scope="row">MÓDULO V: Determina las remuneraciones al capital humano de la organización.</th>
              
            </tr>
            <tr>
              <th scope="row">Submódulo 1 - Determina la nómina del personal de la organización tomando en cuenta la normatividad laboral.
             
              </th>
              
            </tr>
            <tr>
                <th scope="row">   Submódulo 2 - Determina renumeraciones del personal en situaciones extraordinarias.
                </th>
                
              </tr>
          </tbody>
        </table>
      </div>


    </div>
    
  </div>
</div>
