<div class="container-fluid">
  <div  class="carreras animate__animated  animate__fadeInRight"> 
    <h2>¿Que te gustaria estududiar?</h2>
    <div class="row"> 
      <!-------------------------------------------Carrreras------------------------------------------------------------>
      <div class="col-md-3">
        <div>
          <img class="card-img-top" src="assets/img/carreras.png" alt=""/>
        </div>
        
        <a [routerLink]="['/nosotros']">
         <button class="btn fourth"> <h3> INFORMATE. </h3></button>
        </a>
      </div>
   <!-------------------------------------------Carrreras------------------------------------------------------------>
   <!------------------------------------------TÉCNICO EN INDUSTRIAL PETRÓLERO<------------------------------------------------------------>
     <div class="col-md-3">
     <div class="ind_petro">
      <div>
        <img class="card-img-top" src="assets/img/industrial_petrolera.jpg" alt=""/>
      </div>
      
     <a [routerLink]="['/industrial_petrolero']">
      <button class="btn fourth"> <h3>TÉCNICO EN INDUSTRIAL PETRÓLERO. </h3></button>
     </a>
</div>
    </div>
 <!-------------------------------------------TÉCNICO EN INDUSTRIAL PETRÓLERO<------------------------------------------------------------>

   <!---------------------------------------- TÉCNICO EN ENFERMERÍA.------------------------------------------------------------>
   <div class="col-md-3">
    <div class="ind_petro">
     <div>
       <img class="card-img-top" src="assets/img/enfermeria.jpg" alt=""/>
     </div>
     
     <a [routerLink]="['/nosotros']">
      <button class="btn fourth"> <h3>TÉCNICO EN ENFERMERÍA. </h3></button>
     </a>
</div>
   </div>
<!-------------------------------------------TÉCNICO EN ENFERMERÍA.------------------------------------------------------------>
  <!------------------------------------------TÉCNICO EN LOGÍSTICA.----------------------------------------------------------->
  <div class="col-md-3">
    <div class="ind_petro">
     <div>
       <img class="card-img-top" src="assets/img/logistica.jpg" alt=""/>
     </div>
     
     <a [routerLink]="['/nosotros']">
      <button class="btn fourth"> <h3>TÉCNICO EN LOGÍSTICA. </h3></button>
     </a>
</div>
   </div>
<!-------------------------------------------TÉCNICO EN LOGÍSTICA.------------------------------------------------------------>
    </div>
    <br>
    <div class="row"> 
      <!-------------------------------------------TÉCNICO EN CONTABILIDAD.------------------------------------------------------------>
      <div class="col-md-3">
        <div>
          <img class="card-img-top" src="assets/img/contabilidad.jpg" alt=""/>
        </div>
        
        <a [routerLink]="['/contabilidad']">
         <button class="btn fourth"> <h3>TÉCNICO EN CONTABILIDAD. </h3></button>
        </a>
      </div>
   <!-------------------------------------------TÉCNICO EN CONTABILIDAD.----------------------------------------------------------->
   <!------------------------------------------TÉCNICO EN TRABAJO SOCIAL.----------------------------------------------------------->
     <div class="col-md-3">
     <div class="ind_petro">
      <div>
        <img class="card-img-top" src="assets/img/trabajo_social.jpg" alt=""/>
      </div>
 
      
     <a [routerLink]="['/nosotros']">
      <button class="btn fourth"> <h3>TÉCNICO EN TRABAJO SOCIAL. </h3></button>
     </a>
</div>
    </div>
 <!-------------------------------------------TÉCNICO EN TRABAJO SOCIAL.------------------------------------------------------------>

   <!------------------------------------------TÉCNICO EN ADMINISTRACIÓN DE R.H.------------------------------------------------------------>
   <div class="col-md-3">
    <div class="ind_petro">
     <div>
       <img class="card-img-top" src="assets/img/recursos_humanos.jpg" alt=""/>
     </div>

    
     <a [routerLink]="['/nosotros']">
      <button class="btn fourth"> <h3>TÉCNICO EN ADMINISTRACIÓN DE R.H. </h3></button>
     </a>
</div>
   </div>
<!-------------------------------------------TÉCNICO EN ADMINISTRACIÓN DE R.H.------------------------------------------------------------>
  <!------------------------------------------TÉCNICO EN MEDIOS DE COMUNICACIÓN. 🎤----------------------------------------------------------->
  <div class="col-md-3">
    <div class="ind_petro">
     <div>
       <img class="card-img-top" src="assets/img/tecnico_en_comunicacion.jpg" alt=""/>
     </div>
      
       <a [routerLink]="['/contabilidad']" >
        <button class="btn fourth"> <h3>TÉCNICO EN MEDIOS DE COMUNICACIÓN. </h3></button>
       </a>
   
    
</div>
   </div>
<!-------------------------------------------TÉCNICO EN MEDIOS DE COMUNICACIÓN. 🎤------------------------------------------------------------>
    </div>
  </div>
</div>



<br>