<div class="container-fluid">
  <div  class="carreras animate__animated  animate__fadeInRight"> 
    <h3>¿Que te gustaria estududiar?</h3>
    <div class="row"> 
      <!-------------------------------------------Carrreras------------------------------------------------------------>
      <div class="col-md-3">
        <div>
          <img class="card-img-top" src="assets/img/carreras.png" alt=""/>
        </div>
        <div class="btnCentradoEncima">
          <a href="">
            <button type="button" >
              
                <p class="txtExtraBold">Carreras</p><i class="fas fa-angle-right fa-2x"></i>
            
          </button>
          </a>
        </div>
      </div>
   <!-------------------------------------------Carrreras------------------------------------------------------------>
   <!------------------------------------------TÉCNICO EN INDUSTRIAL PETRÓLERO<------------------------------------------------------------>
     <div class="col-md-3">
     <div class="ind_petro">
      <div>
        <img class="card-img-top" src="assets/img/industrial_petrolera.jpg" alt=""/>
      </div>
      <div class="btnCentradoEncima">
        <a href="#">
          <button type="button" >
            
              <p class="txtExtraBold">TÉCNICO EN INDUSTRIAL PETRÓLERO</p><i class="fas fa-angle-right fa-2x"></i>
          
        </button>
        </a>
    
      </div>
</div>
    </div>
 <!-------------------------------------------TÉCNICO EN INDUSTRIAL PETRÓLERO<------------------------------------------------------------>

   <!---------------------------------------- TÉCNICO EN ENFERMERÍA.------------------------------------------------------------>
   <div class="col-md-3">
    <div class="ind_petro">
     <div>
       <img class="card-img-top" src="assets/img/enfermeria.jpg" alt=""/>
     </div>
     <div class="btnCentradoEncima">
       <a href="#">
         <button type="button" >
           
             <p class="txtExtraBold">TÉCNICO EN ENFERMERÍA.</p><i class="fas fa-angle-right fa-2x"></i>
         
       </button>
       </a>
   
     </div>
</div>
   </div>
<!-------------------------------------------TÉCNICO EN ENFERMERÍA.------------------------------------------------------------>
  <!------------------------------------------TÉCNICO EN LOGÍSTICA.----------------------------------------------------------->
  <div class="col-md-3">
    <div class="ind_petro">
     <div>
       <img class="card-img-top" src="assets/img/logistica.jpg" alt=""/>
     </div>
     <div class="btnCentradoEncima">
       <a href="#">
         <button type="button" >
           
             <p class="txtExtraBold"> TÉCNICO EN LOGÍSTICA.</p><i class="fas fa-angle-right fa-2x"></i>
         
       </button>
       </a>
   
     </div>
</div>
   </div>
<!-------------------------------------------TÉCNICO EN LOGÍSTICA.------------------------------------------------------------>
    </div>
    <div class="row"> 
      <!-------------------------------------------TÉCNICO EN CONTABILIDAD.------------------------------------------------------------>
      <div class="col-md-3">
        <div>
          <img class="card-img-top" src="assets/img/contabilidad.jpg" alt=""/>
        </div>
        <div class="btnCentradoEncima">
          <a href="">
            <button type="button" >
              
                <p class="txtExtraBold">TÉCNICO EN CONTABILIDAD. </p><i class="fas fa-angle-right fa-2x"></i>
            
          </button>
          </a>
        </div>
      </div>
   <!-------------------------------------------TÉCNICO EN CONTABILIDAD.----------------------------------------------------------->
   <!------------------------------------------TÉCNICO EN TRABAJO SOCIAL.----------------------------------------------------------->
     <div class="col-md-3">
     <div class="ind_petro">
      <div>
        <img class="card-img-top" src="assets/img/trabajo_social.jpg" alt=""/>
      </div>
      <div class="btnCentradoEncima">
        <a href="#">
          <button type="button" >
            
              <p class="txtExtraBold">TÉCNICO EN TRABAJO SOCIAL.</p><i class="fas fa-angle-right fa-2x"></i>
          
        </button>
        </a>
    
      </div>
</div>
    </div>
 <!-------------------------------------------TÉCNICO EN TRABAJO SOCIAL.------------------------------------------------------------>

   <!------------------------------------------TÉCNICO EN ADMINISTRACIÓN DE R.H.------------------------------------------------------------>
   <div class="col-md-3">
    <div class="ind_petro">
     <div>
       <img class="card-img-top" src="assets/img/recursos_humanos.jpg" alt=""/>
     </div>
     <div class="btnCentradoEncima">
       <a href="#">
         <button type="button" >
           
             <p class="txtExtraBold">TÉCNICO EN ADMINISTRACIÓN DE R.H.</p><i class="fas fa-angle-right fa-2x"></i>
         
       </button>
       </a>
   
     </div>
</div>
   </div>
<!-------------------------------------------TÉCNICO EN ADMINISTRACIÓN DE R.H.------------------------------------------------------------>
  <!------------------------------------------TÉCNICO EN MEDIOS DE COMUNICACIÓN. 🎤----------------------------------------------------------->
  <div class="col-md-3">
    <div class="ind_petro">
     <div>
       <img class="card-img-top" src="assets/img/tecnico_en_comunicacion.jpg" alt=""/>
     </div>
     <div class="btnCentradoEncima">
       <a href="#">
         <button type="button" >
           
             <p class="txtExtraBold">TÉCNICO EN MEDIOS DE COMUNICACIÓN. 🎤</p><i class="fas fa-angle-right fa-2x"></i>
         
       </button>
       </a>
   
     </div>
</div>
   </div>
<!-------------------------------------------TÉCNICO EN MEDIOS DE COMUNICACIÓN. 🎤------------------------------------------------------------>
    </div>
  </div>
</div>


