
<div class="container-fluid w-100 career text-center" >
<h1>Estudia una carrera Tecnica</h1>
</div>
<section class="container">
<div class="row">
    <p class="col-12 col-md-6">El <b>Instituto Cuauhtémoc Reforma</b>  te oferce la oportunidad de estudiar tu bachillerato con carrera tecnica.  EL adquirir conocimientos y desarrollar habilidades te acercaran más a cumplir tus metas 
        y sueños.  
        Tener una carrera técnica te dará más oportunidades de empleo.</p>
    <ul class="col-12 col-md-6">
        <h2 class="text-center ">Nuestras Carreras Tecnicas</h2>

       <li ><a href="">TÉCNICO EN INDUSTRIAL PETRÓLERO </a>  </li>
       <li> <a href="">TÉCNICO EN ENFERMERÍA. </a> </li>
       <li><a href="">TÉCNICO EN LOGÍSTICA.</a> </li>
       <li><a href="">TÉCNICO EN CONTABILIDAD.</a> </li>
       <li><a href="">TÉCNICO EN TRABAJO SOCIAL.</a> </li>
       <li><a href=""> TÉCNICO EN ADMINISTRACIÓN DE R.H.</a></li>
       <li><a href="">TÉCNICO EN MEDIOS DE COMUNICACIÓN.</a> </li>

    </ul>
  
</div>
</section>
<hr>