.career {
    color: #04457a;
    font-family: 'Encode Sans', sans-serif;
    font-size: 6vh;
}

p{
    text-align: justify;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px ;
}

h2{
font-family: 'Roboto Condensed', sans-serif;
font-size: 25px;
color:  #f39c12
;
}
 ul li{
list-style: none;
font-family: 'Roboto Condensed', sans-serif;
font-size: 20px;
text-align: center;
}

li a{
text-decoration: none;
color: black;
}

li a:hover{
    color:#04457a;
    background-color: #5a87ac46;
}

hr{
    background-color: #f39c12;
    font-size: 20px ;
    
}