<div class="container mt-g"><h1>TECNICO EN ENFERMERIA</h1></div>

<!----------------------------contenido----------------------------->
<div class="container-fluid">
  <div class="tecnico">
    <div class="row">
      <div class="col-md-12"> 
     <h2>¿Porque estudiar Tecnico en Enfermería?</h2>
     <p>La carrera de Técnico en Enfermería General ofrece las competencias profesionales que permiten al estudiante aplicar
          medidas preventivas, cuidados de baja y mediana complejidad al adulto, procedimientos de enfermería médico quirúrgicos,
          cuidado de la mujer en edad reproductiva, el niño y cuidado del adulto mayor. </p>
      
      </div>
      <div class="col-md-12">
       <img  class="img-fluid rounded mx-auto d-block" src="assets/img/careers/career_petrolero.jpg" alt="">
      </div>
   
    </div>
  </div>
</div>
<br>
<!----------------------------contenido----------------------------->
  <div class="container-fluid">
  <div class="cita"> 
    <h2>Agenda tu cita</h2>
  <a [routerLink]="['/industrial_petrolero']" > C L I C K    A Q U I </a>
 
  </div>
  </div>
<br>
<!------------------ materias------------------------------------>
<div class="container-fluid">
  <div class="materias">
   <h3>Plan de estudios</h3> 
    <div class="row"> 
      <div class="col-md-4">
  <h2>1ER° SEMESTRE</h2>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Materia</th>
        
      
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">ALGEBRA</th>
   
      </tr>
      <tr>
        <th scope="row">QUIMICA 1</th>
   
      </tr>
      <tr>
        <th scope="row">TECNOLOGIA DE LA COMUNICACION Y LA INFORMACION.</th>
  
      </tr>
      <tr>
        <th scope="row">INGLES 1</th>

      </tr>
      <tr>
        <th scope="row">LECTURA, EXPRESION ORAL ESCRITA 1</th>
    
      </tr>
      <tr>
        <th scope="row">INGLES 1</th>
      
      </tr>
      <tr>
        <th scope="row">CIENCIA, TECNOLOGÍA, SOCIEDAD Y VALORES</th>
        
      </tr>
      <tr>
        <th scope="row">FUNDAMENTOS DE LA ENFERMERIA 1</th>
    
      </tr>
      <tr>
        <th scope="row">SALUD PUBLICA</th>
       
      </tr>
      <tr>
        <th scope="row">ANATOMIA Y FILOSOFIA</th>
       
      </tr>
      <tr>
        <th scope="row">PRACTICA CLINICA FUNDAMENTOS DE ENFERMERIA</th>
       
      </tr>
    </tbody>
  </table>
      </div>
      <div class="col-md-4">
        <h2>2DO° SEMESTRE</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Materia</th>
             
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">GEOMETRIA Y TRIGONOMETRIA</th>
     
            </tr>
            <tr>
              <th scope="row">LECTURA EXPRESION ORAL Y ESCRITURA ORAL ll</th>
    
            </tr>
            <tr>
              <th scope="row">INGLES ll</th>
              
            </tr>
            <tr>
              <th scope="row">QUIMICA ll</th>
           
            </tr>
            <tr>
              <th scope="row">ALGEBRA ll</th>
             
            </tr>
            <tr>
              <th scope="row">FUNDAMENTOS DE ENFERMERIA ll</th>
    
            </tr>
            <tr>
              <th scope="row">ENFERMERIA COMUNITRIA</th>
             
            </tr>
            <tr>
              <th scope="row">ETIMOLOGÍA DE ENFERMERIA</th>
             
            </tr>
            <tr>
              <th scope="row">MICROBIOLIGIA Y PARASITOLOGIA</th>
             
            </tr>
            <tr>
              <th scope="row">PRACTICA CLINICA ENFERMERIA COMUNITARIA</th>
             
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <h2>3ER° SEMESTRE</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Materia</th>
             
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">GEOMETRIA ANALITICA</th>
            
            </tr>
           
            <tr>
              <th scope="row">BIOLOGIA</th>
             
            </tr>
            <tr>
              <th scope="row">INGLES lll</th>
 
            </tr>
            <tr>
              <th scope="row">CIENCIA, TECNOLOGIA, SOCIEDAD Y VALORES</th>
           
            </tr>
            <tr>
              <th scope="row">PROCESOS DE ATENCION DE ENFERMERIA</th>
            
            </tr>
            <tr>
              <th scope="row">ENFERMERIA MATERNA INFANTIL</th>
        
            </tr>
            <tr>
              <th scope="row">ENFERMERIA INFANTIL</th>
        
            </tr>
            <tr>
              <th scope="row">CLINICAS DE ENFERMERIA</th>
        
            </tr>
            <tr>
              <th scope="row">COMPUTACIÓN</th>
        
            </tr>
          
          
          
          </tbody>
        </table>
      </div>


    </div>
    <div class="row"> 
      <div class="col-md-4">
        <h2>4TO° SEMESTRE</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">MATERIA</th>
              
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">CALCULO INTEGRAL</th>
    
            </tr>
            <tr>
              <th scope="row">ECOLOGIA</th>
            
            </tr>
            <tr>
              <th scope="row">FISICA I</th>
          
            </tr>
            <tr>
              <th scope="row">INGLE IV</th>
            
            </tr>
            <tr>
              <th scope="row">ETICA</th>
        
            </tr>
            <tr>
              <th scope="row">METODO DE LA INVESTIGACION</th>
             
            </tr>
            <tr>
              <th scope="row">FARMACOLOGIA</th>
         
            </tr>
            <tr>
              <th scope="row"> ENFERMERIA DE MEDICO QUIRÚRGIA</th>
             
            </tr>
            <tr>
              <th scope="row"> PATOLOGIA GENERAL</th>
             
            </tr>
            <tr>
              <th scope="row">PRACTICA CLINICA ENFERMERIA MÉDICO</th>
             
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <h2>5TO° SEMESTRES</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">MATERIA</th>
      
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">PROBABILIDAD Y ESTADISTICA</th>
              
            </tr>
            <tr>
              <th scope="row">FISICA II</th>
              
            </tr>
            <tr>
              <th scope="row">CIENCIA, TECNOLIGIA, SOCIEDAD Y VALORES</th>
           
            </tr>
            <tr>
              <th scope="row">INGLES V</th>
             
            </tr>
            <tr>
              <th scope="row">SALUD MENTAL</th>
             
            </tr>
            <tr>
              <th scope="row">PATOLOGÍA</th>
    
            </tr>
            <tr>
              <th scope="row">GERIATRIA Y GERONTOLOGÍA</th>
            
            </tr>
            <tr>
              <th scope="row">FILOSOFIA Y ÉTICA EN ENFERMERIA</th>
            
            </tr>
            <tr>
              <th scope="row">FISOTERAPIA Y REHABILITACIÓN</th>
            
            </tr>
            <tr>
              <th scope="row">PRACTICA CLINICA ENFERMERIA DEL ADULTO</th>
            
            </tr>

          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <h2>6TO° SEMESTRE</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">MATERIA</th>
      
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">FILOSOFIA</th>
             
            <tr>
              <th scope="row">MATEMATICAS APLICA</th>
             
            </tr>
            <tr>
              <th scope="row">OPTATIVA</th>
         
            </tr>
            <tr>
              <th scope="row">ADMINISTRACIÓN DE LOS SERVICIOS DE ENFERMERIA</th>
              
            </tr>
            <tr>
              <th scope="row">PSIQUIATRIA Y ENFERMERIA PSIQUIATRICA</th>
              
            </tr>
            <tr>
              <th scope="row">FISOTERAPIA</th>
              
            </tr>
            <tr>
              <th scope="row">SEMINARIO DE INVESTIGACIÓN</th>
              
            </tr>
            <tr>
              <th scope="row">CLINICA DE ENFERMERIA</th>
              
            </tr>
            <tr>
              <th scope="row">PRACTICA CLINICA ENFERMERIA EN REHABILITACION Y PSIQUIATRICA</th>
              
            </tr>
          </tbody>
        </table>
      </div>


    </div>
    
  </div>
</div>