
<div class="container-fluid ">
    <h1 class="animate__animated animate__bounce " >Instituto Cuauhtémoc Reforma</h1>
    <h2> Excelencia Académica, Siempre.</h2>
    <h3>Plan de estudio</h3>
    <p>Los presentes Palnes de Desarrollo (PD) marca el rumbo de la <b>carrera tecnica</b> , aquí se exponen los objetivos, metas y el cumplimiento de las actividades, así como la forma de evaluarlas.
    </p>
  </div>
  

<div class="container">
  <form>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Carreras tecnicas</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>ESCOGE UNA OPCION.</option>
        <option>TÉCNICO EN INDUSTRIAL PETRÓLERO.</option>
        <option>TÉCNICO EN ENFERMERÍA. </option>
        <option>TÉCNICO EN LOGÍSTICA.</option>
        <option>TÉCNICO EN CONTABILIDAD.</option>
        <option>TÉCNICO EN TRABAJO SOCIAL. </option>
        <option>TÉCNICO EN ADMINISTRACIÓN DE R.H.</option>
        <option>TÉCNICO EN MEDIOS DE COMUNICACIÓN. </option>
      </select>
    </div>
  </form> 
</div>