<div class="container mt-g">
  <h1 class="h1">Selecciona el plan de estudio</h1>

    <form class="mt-3">
      <div class="form-row">
        <div class="col">
          <mat-form-field class="w-100">
          <mat-label>Selecciona la carrera</mat-label>
          <mat-select>
            <mat-option value="option"></mat-option>
          </mat-select>
        </mat-form-field>
        </div>
        <div class="col">
          <button mat-flat-button color="primary">Ver</button>
        </div>
      </div>
    </form>
</div>

