<div class="container mt-g"><h1>TECNICO EN MEDIOS DE COMUNICACION</h1></div>

<!----------------------------contenido----------------------------->
<div class="container-fluid">
  <div class="tecnico">
    <div class="row">
      <div class="col-md-12"> 
     <h2>¿Porque estudiar Técnico en medios de comunicación?</h2>
     <p>La carrera de Técnico en medios de comunicación ofrece las competencias profesionales que permiten al estudiante realizar actividades dirigidas a redactar géneros periodísticos para medios impresos y guiones para radio y televisión, realizar tomas fotográficas B/N y color, operar equipos de audio y video para radio y televisión, conducir programas de radio y televisión, así como asistir programas radiofónicos y televisivos. </p>
      
      </div>
      <div class="col-md-12">
       <img  class="img-fluid rounded mx-auto d-block" src="assets/img/careers/career_petrolero.jpg" alt="">
      </div>
   
    </div>
  </div>
</div>
<br>
<!----------------------------contenido----------------------------->
  <div class="container-fluid">
  <div class="cita"> 
    <h2>Agenda tu cita</h2>
  <a [routerLink]="['/industrial_petrolero']" > C L I C K    A Q U I </a>
 
  </div>
  </div>
<br>
<!------------------ materias------------------------------------>
<div class="container-fluid">
  <div class="materias">
   <h3>Plan de estudios</h3> 
    <div class="row"> 
      <div class="col-md-4">
  <h2>1ER° SEMESTRE</h2>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Materia</th>
        
      
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">ALGEBRA</th>
   
      </tr>
      
      <tr>
        <th scope="row">TECNOLOGIA DE LA INFORMACION Y LA COMUNICACION.</th>
  
      </tr>
      <tr>
        <th scope="row">LOGICA</th>

      </tr>
      <tr>
        <th scope="row">LECTURA, EXPRESION ORAL ESCRITA 1</th>
    
      </tr>
      <tr>
        <th scope="row">INGLES 1</th>
      
      </tr>
      <tr>
        <th scope="row">COMUNICACIÓN ORAL Y ESCRITA</th>
        
      </tr>
      <tr>
        <th scope="row">COMUNICACIÓN Y SOCIEDAD</th>
    
      </tr>
      <tr>
        <th scope="row">COMUNICACIÓN ORGANIZACIONAL</th>
       
      </tr>
      
    </tbody>
  </table>
      </div>
      <div class="col-md-4">
        <h2>2DO° SEMESTRE</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Materia</th>
             
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">GEOMETRIA Y TRIGONOMETRIA</th>
     
            </tr>
            <tr>
              <th scope="row">LECTURA EXPRESION ORAL Y ESCRITURA ORAL ll</th>
    
            </tr>
            <tr>
              <th scope="row">INGLES ll</th>
              
            </tr>
            <tr>
              <th scope="row">QUIMICA l</th>
           
            </tr>
            
            <tr>
              <th scope="row">REDACCIÓN DE TEXTOS ACADÉMICOS</th>
    
            </tr>
            <tr>
              <th scope="row">LENGUAJE Y REALIDAD SOCIAL</th>
             
            </tr>
            <tr>
              <th scope="row">MODULO l: Redacta géneros periodisticos para medios de comunicación</th>
             
            </tr>
            <tr>
              <th scope="row">Submodulo 1 - Redacta géneros informativos</th>
             
            </tr>
            <tr>
              <th scope="row">Submodulo 2 - Elabora guiones para medios de comunicación</th>
             
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <h2>3ER° SEMESTRE</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Materia</th>
             
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">GEOMETRIA ANALITICA</th>
            
            </tr>
           
            <tr>
              <th scope="row">BIOLOGIA</th>
             
            </tr>
            <tr>
              <th scope="row">INGLES lll</th>
 
            </tr>
            <tr>
              <th scope="row">ETICA</th>
           
            </tr>
            <tr>
              <th scope="row">MERCADOCTECNIA</th>
            
            </tr>
            <tr>
              <th scope="row">FOTOGRAFIAL</th>
        
            </tr>
            <tr>
              <th scope="row">SOCIOLOGIA DE LA COMUNICACIÓN</th>
        
            </tr>
            <tr>
              <th scope="row">MODULO II: Registra imagen fija y en movimiento</th>
        
            </tr>
            <tr>
              <th scope="row">Submodulo 1 - Captura imagenes fijas</th>
        
            </tr>
            <tr>
              <th scope="row">Submodulo 2 - Realiza encuadres, movimientos y desplazamientos de cámara</th>
        
            </tr>
            <tr>
              <th scope="row">Submodulo 3 - Crea ambientes utilizando técnicas de iluminación</th>
        
            </tr>
          
          
          
          </tbody>
        </table>
      </div>


    </div>
    <div class="row"> 
      <div class="col-md-4">
        <h2>4TO° SEMESTRE</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">MATERIA</th>
              
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">CALCULO DIFERENCIAL</th>
    
            </tr>
            <tr>
              <th scope="row">ECOLOGIA</th>
            
            </tr>
            <tr>
              <th scope="row">FISICA I</th>
          
            </tr>
            <tr>
              <th scope="row">INGLE IV</th>
            
            </tr>
            <tr>
              <th scope="row">IMAGEN Y TELEVISIÓN</th>
        
            </tr>
            <tr>
              <th scope="row">TECNOLOGIA DE LA INFORMACION Y LA COMUNICACIÓN</th>
             
            </tr>
            <tr>
              <th scope="row">DISEÑO DE CAMPAÑA PUBLICITARIAS</th>
         
            </tr>
            <tr>
              <th scope="row">MODULO lll: Produccion de programas televisivos</th>
             
            </tr>
            <tr>
              <th scope="row">Submodulo 1 - Seguimiento de plan de producción</th>
             
            </tr>
            <tr>
              <th scope="row">Submodulo 2 - Vincula funciones del staff técnico y de producción</th>
             
            </tr>
            <tr>
              <th scope="row">Submodulo 3 - Conduce programas de televisión</th>
             
            </tr>
          
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <h2>5TO° SEMESTRES</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">MATERIA</th>
      
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">CALCULO INTEGRAL</th>
              
            </tr>
            <tr>
              <th scope="row">TEMAS DE FILOSOFIA</th>
              
            </tr>
            <tr>
              <th scope="row">CIENCIA, TECNOLIGIA, SOCIEDAD Y VALORES</th>
           
            </tr>
            <tr>
              <th scope="row">INGLES V</th>
             
            </tr>
            <tr>
              <th scope="row">FISICA II</th>
             
            </tr>
            <tr>
              <th scope="row">COMUNICACION Y RADIO</th>
    
            </tr>
            <tr>
              <th scope="row">POLITICA Y PERIODISMO</th>
            
            </tr>
            <tr>
              <th scope="row">RELACIONES PUBLICAS</th>
            
            </tr>
            <tr>
              <th scope="row">MODULO IV: Asiste en la producción de programas radiofónicos</th>
            
            </tr>
            <tr>
              <th scope="row">Submodulo 1 - Locuciona programas de radio</th>
            
            </tr>
            <tr>
              <th scope="row">Submodulo 2 - Opera equipo de radio</th>
            
            </tr>

          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <h2>6TO° SEMESTRE</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">MATERIA</th>
      
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">PROBABILIDAD Y ESTADISTICA</th>
             
            <tr>
              <th scope="row">TEMAS DE FILOSOFIA</th>
             
            </tr>
            <tr>
              <th scope="row">LITERATURA</th>
         
            </tr>
            <tr>
              <th scope="row">HISTORIA</tr>
              
            
            <tr>
              <th scope="row">RESPONSABILIDAD DE LOS MEDIOS</th>
              
            </tr>
            <tr>
              <th scope="row">PUBLISIDAD</th>
              
            </tr>
            <tr>
              <th scope="row">RELACIONES PUBLICAS II</th>
              
            </tr>
            <tr>
              <th scope="row">MODULO V: Edita programas para radio y televisión</th>
              
            </tr>
            <tr>
              <th scope="row">Submodulo 1 - Post- produce programas de radio</th>
              
            </tr>
            <tr>
              <th scope="row">Submodulo 2 - Post- Produce programas de televisión</th>
              
            </tr>
          </tbody>
        </table>
      </div>


    </div>
    
  </div>
</div>