<div class="container mt-g"><h1>TÉCNICO EN CONTABILIDAD</h1></div>

<!----------------------------contenido----------------------------->
<div class="container-fluid">
  <div class="tecnico">
    <div class="row">
      <div class="col-md-12"> 
     <h2>¿Porque estudiar Tecnico en Contabilidad?</h2>
     <p>La carrera de Técnico en Contabilidad ofrece las competencias profesionales que permiten al estudiante registrar operaciones contables 
       de empresas comerciales y de servicios operando los procesos contables a través de un sistema electrónico, así como registrar operaciones 
       contables de una entidad fabril, determinar contribuciones y asistir en actividades de auditoría.
       <br>
      Asimismo, podrá desarrollar competencias genéricas relacionadas principalmente con la participación en los procesos de comunicación 
      en distintos contextos, la integración efectiva a los equipos de trabajo y la intervención consciente, desde su comunidad en particular, 
      en el país y el mundo en general, todo con apego al cuidado del medio ambiente.</p>
      
      </div>
      <div class="col-md-12">
       <img  class="img-fluid rounded mx-auto d-block" src="assets/img/careers/career_logistica.jpg" alt="">
      </div>
   
    </div>
  </div>
</div>
<br>
<!----------------------------contenido----------------------------->
  <div class="container-fluid">
  <div class="cita"> 
    <h2>Agenda tu cita</h2>
  <a [routerLink]="['/industrial_petrolero']" > C L I C K    A Q U I </a>
 
  </div>
  </div>
<br>
<!------------------ materias------------------------------------>
<div class="container-fluid">
  <div class="materias">
   <h3>Plan de estudios</h3> 
    <div class="row"> 
      <div class="col-md-4">
  <h2>1ER° SEMESTRE</h2>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Materia</th>
        
      
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">ALGEBRA</th>
   
      </tr>
      <tr>
        <th scope="row">QUIMICA l</th>
   
      </tr>
      <tr>
        <th scope="row">TECNOLOGIA DE LA COMUNICACION Y LA INFORMACION.</th>
  
      </tr>
      <tr>
        <th scope="row">LOGICA</th>

      </tr>
      <tr>
        <th scope="row">LECTURA, EXPRESION ORAL ESCRITA 1</th>
    
      </tr>
      <tr>
        <th scope="row">INGLES 1</th>
      
      </tr>
      <tr>
        <th scope="row">ADMINISTRACIÓN l</th>
        
      </tr>
      <tr>
        <th scope="row">CONTABILIDAD l</th>
    
      </tr>
      <tr>
        <th scope="row">ESTADISTICA</th>
       
      </tr>
    </tbody>
  </table>
      </div>
      <div class="col-md-4">
        <h2>2DO° SEMESTRE</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Materia</th>
             
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">GEOMETRIA Y TRIGONOMETRIA</th>
     
            </tr>
            <tr>
              <th scope="row">LECTURA EXPRESION ORAL Y ESCRITURA ORAL ll</th>
    
            </tr>
            <tr>
              <th scope="row">INGLES ll</th>
              
            </tr>
            <tr>
              <th scope="row">ADMINISTRACIÓN ll</th>
           
            </tr>
            <tr>
              <th scope="row">CONTABILIDAD ll</th>
             
            </tr>
            <tr>
              <th scope="row">ADMINISTRACIÓN DE RECURSOS HUMANOS</th>
    
            </tr>
          
            <tr>
                <th scope="row">MODULO l: Registro de operaciones de empresas</th>
               
              </tr>
              <tr>
                <th scope="row">Submodulo 1 - Registro informacion contable de diversas entidades economicas
                </th>
               
              </tr>
              <tr>
                <th scope="row">Submodulo 2 - Formulas de estados financieros de las empresas</th>
               
              </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <h2>3ER° SEMESTRE</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Materia</th>
             
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">GEOMETRIA ANALITICA</th>
            
            </tr>
            <tr>
              <th scope="row">BIOLOGIA</th>
         
            </tr>
            <tr>
              <th scope="row">ETICA</th>
             
            </tr>
            <tr>
              <th scope="row">INGLES lll</th>
 
            </tr>
            <tr>
              <th scope="row">SISTEMAS CONTABLES</th>
           
            </tr>
            <tr>
              <th scope="row">CONTABILIDAD ll</th>
            
            </tr>
            <tr>
              <th scope="row">MATEMATICAS FINANCIERAS</th>
        
            </tr>
            <tr>
              <th scope="row">MODULO ll. Opera los procesos contables dentro de una sistema electronico</th>
       
            </tr>
            <tr>
                <th scope="row">Submodulo 1 - Registra informacion contable en forma electronica</th>
          
              </tr>
              <tr>
                <th scope="row">Submodulo 2 - Registra informacion de los recursos materiales y financieros</th>
          
              </tr>
             
          </tbody>
        </table>
      </div>


    </div>
    <div class="row"> 
      <div class="col-md-4">
        <h2>4TO° SEMESTRE</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">MATERIA</th>
              
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">CALCULO DIFERENCIAL</th>
    
            </tr>
            <tr>
              <th scope="row">ECOLOGIA</th>
            
            </tr>
            <tr>
              <th scope="row">FISICA I</th>
          
            </tr>
            <tr>
              <th scope="row">INGLE IV</th>
            
            </tr>
            <tr>
              <th scope="row">FISCAL l</th>
            
            </tr>
            <tr>
              <th scope="row">CONTABILIDAD IV</th>
        
            </tr>
            <tr>
              <th scope="row">AUDITORIA INFORMATICA</th>
             
            </tr>
        
            <tr>
              <th scope="row">MODULO lll: Registra informacion contable de una entidad fabril </th>
             
            </tr>
            <tr>
                <th scope="row">Submodulo 1 - Registra información contable de diversas entidades fabriles </th>
               
              </tr>
              <tr>
                <th scope="row">Submodulo 2 - Genera información fiscal de las personas morales </th>
               
              </tr>
              
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <h2>5TO° SEMESTRES</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">MATERIA</th>
      
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">CALCULO INTEGRAL</th>
              
            </tr>
            <tr>
              <th scope="row">FISICA II</th>
              
            </tr>
            <tr>
              <th scope="row">CIENCIA, TECNOLIGIA, SOCIEDAD Y VALORES</th>
           
            </tr>
            <tr>
              <th scope="row">INGLES V</th>
             
            </tr>
            <tr>
              <th scope="row">FISCAL ll</th>
             
            </tr>
            <tr>
              <th scope="row">CONTABILIDAD V</th>
    
            </tr>
            <tr>
              <th scope="row">AUDITORIA l</th>
    
            </tr>
            <tr>
              <th scope="row">MODULO IV: Determina las contribuciones fiscales de personas fisicas y morales</th>
            
            </tr>
            <tr>
              <th scope="row"> Submodulo 1 - Genera información fiscal de las personas fisicas
              </th>
            
            </tr>
            <tr>
                <th scope="row">Submodulo 2 - Genera información fiscal de las personas morales</th>
              
              </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <h2>6TO° SEMESTRE</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">MATERIA</th>
      
            
            </tr>
          </thead>
          <tbody>
             <tr>
              <th scope="row">PROBABILIDAD Y ESTADISTICA</th>
             
            </tr>
            <tr>
              <th scope="row">TEMAS DE FILOSOFIA</th>
         
            </tr>
            <tr>
              <th scope="row">TEMAS DE ADMINISTRACIÓN</th>
              
            </tr>
            <tr>
              <th scope="row">TEMAS DE ECONOMIA</th>
              
            </tr>
            <tr>
              <th scope="row">FISCAL lll</th>
              
            </tr>
            <tr>
              <th scope="row">AUDITORIA ll</th>
              
            </tr>
           
              <tr>
                <th scope="row">MODULO V: Asiste en actividades de auditoria de una entidad</th>
                
              </tr>
              <tr>
                <th scope="row">Submodulo 1 - Verifica que la información contable de una entidas economica corresponda a las politicas </th>
                
              </tr>
              <tr>
                <th scope="row">Submodulo 2 - Controla cuentas por cobrar y pagar de las empresas</th>
                
              </tr>
         
          </tbody>
        </table>
      </div>


    </div>
    
  </div>
</div>