<div class="container-fluid"><h1>TECNICO INDUSTRIAL PETROLERO</h1></div>

<!----------------------------contenido----------------------------->
<div class="container-fluid">
  <div class="tecnico">
    <div class="row">
      <div class="col-md-6"> 
     <h2>¿Porque estudiar Tecnico Industrial?</h2>
     <p>La carrera como técnico industrial petrolero permitirá al egresado analizar, diseñar y evaluar sistemas de seguridad 
       en la industria petrolera , así como los procesos de estudios geológicos, perforación, extracción , industrialización 
       y transporte del petroleo dentro del marco jurídico en territorio nacional, ademas la carrera la carrera técnico industrial
       petrolero te da la oportunidad de integrarte al campo laboral
        en el sector estatal o privado así como poder continuar tus estudios a nivel ingeniería del ramo petrolero.</p>
      
      </div>
      
      <div class="col-md-6">

        <img src="assets/img/Carrera_Tec_InduPetro.jpg" alt="">
        
      </div>

    </div>
  </div>
</div>
<!----------------------------contenido----------------------------->
  <div class="container-fluid">
  <div class="ingresa"> 
    <h1>Agenda tu cita</h1>
  <a [routerLink]="['/industrial_petrolero']" > C L I C K   A Q U I  ></a>

  </div>
  </div>

<!------------------ materias------------------------------------>
<div class="container-fluid">
  <div class="materias">

    <div class="row"> 
      <div class="col-md-4">
  <h2>1ER° SEMESTRE</h2>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Materia</th>
        
      
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">ALGEBRA</th>
   
      </tr>
      <tr>
        <th scope="row">QUIMICA</th>
   
      </tr>
      <tr>
        <th scope="row">TECNOLOGIA DE LA COMUNICACION Y LA INFORMACION.</th>
  
      </tr>
      <tr>
        <th scope="row">LOGICA</th>

      </tr>
      <tr>
        <th scope="row">LECTURA, EXPRESION ORAL ESCRITA 1</th>
    
      </tr>
      <tr>
        <th scope="row">INGLES 1</th>
      
      </tr>
      <tr>
        <th scope="row">HISTORIA DEL PETROLE</th>
        
      </tr>
      <tr>
        <th scope="row">INTRODUCION A LA GEOLOGIA</th>
    
      </tr>
      <tr>
        <th scope="row">INTRODUCCION A LA SEGURIDAD INDUSTRIAL</th>
       
      </tr>
    </tbody>
  </table>
      </div>
      <div class="col-md-4">
        <h2>2DO° SEMESTRE</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Materia</th>
             
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">GEOMETRIA Y TRIGONOMETRIA</th>
     
            </tr>
            <tr>
              <th scope="row">LECTURA EXPRESION ORAL Y ESCRITURA ORAL ll</th>
    
            </tr>
            <tr>
              <th scope="row">INGLES ll</th>
              
            </tr>
            <tr>
              <th scope="row">QUIMICA ll</th>
           
            </tr>
            <tr>
              <th scope="row">SEGURIDAD INDUSTRIAL</th>
             
            </tr>
            <tr>
              <th scope="row">MECANICA DE FLUIDOS</th>
    
            </tr>
            <tr>
              <th scope="row">INTRODUCCION Y YACIMIENTOS DE PETROLEOS</th>
             
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <h2>3ER° SEMESTRE</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Materia</th>
             
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">GEOMETRIA ANALITICA</th>
            
            </tr>
            <tr>
              <th scope="row">BIOLOGIA</th>
         
            </tr>
            <tr>
              <th scope="row">ETICA</th>
             
            </tr>
            <tr>
              <th scope="row">INGLES lll</th>
 
            </tr>
            <tr>
              <th scope="row">IDRAULICA</th>
           
            </tr>
            <tr>
              <th scope="row">YACIMIENTOS l</th>
            
            </tr>
            <tr>
              <th scope="row">FUNDAMENTOS DE TERMODINAMICA</th>
        
            </tr>
            <tr>
              <th scope="row">INTRODUCCION DE FLUIDOS DE PERFORACION</th>
       
            </tr>
          </tbody>
        </table>
      </div>


    </div>
    <div class="row"> 
      <div class="col-md-4">
        <h2>4TO° SEMESTRE</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">MATERIA</th>
              
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">CALCULO DIFERENCIAL</th>
    
            </tr>
            <tr>
              <th scope="row">ECOLOGIA</th>
            
            </tr>
            <tr>
              <th scope="row">FISICA I</th>
          
            </tr>
            <tr>
              <th scope="row">INGLE IV</th>
            
            </tr>
            <tr>
              <th scope="row">DESARROLLO SUSTENTABLE</th>
        
            </tr>
            <tr>
              <th scope="row">FLUIDOS DE PERFORACION I</th>
             
            </tr>
            <tr>
              <th scope="row">ELEMENTOS DE PERFORACION I</th>
         
            </tr>
            <tr>
              <th scope="row">TRANSPORTE DE HIDROCARBURO</th>
             
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <h2>5TO° SEMESTRES</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">MATERIA</th>
      
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">CALCULO INTEGRAL</th>
              
            </tr>
            <tr>
              <th scope="row">FISICA II</th>
              
            </tr>
            <tr>
              <th scope="row">CIENCIA, TECNOLIGIA, SOCIEDAD Y VALORES</th>
           
            </tr>
            <tr>
              <th scope="row">INGLES V</th>
             
            </tr>
            <tr>
              <th scope="row">REGISTROS GEOFISICOS</th>
             
            </tr>
            <tr>
              <th scope="row">PROCESOS DE REFINACION</th>
    
            </tr>
            <tr>
              <th scope="row">NORMATIVIDAD AMBIENTAL</th>
            
            </tr>
            <tr>
              <th scope="row">ELEMENTOS DE PERFORACION II</th>
            
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <h2>6TO° SEMESTRE</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">MATERIA</th>
      
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">FILOSOFIA</th>
             
            <tr>
              <th scope="row">PROBABILIDAD Y ESTADISTICA</th>
             
            </tr>
            <tr>
              <th scope="row">FISICA APLICADA</th>
         
            </tr>
            <tr>
              <th scope="row">MARCOGURIDICO DEL PETROLEO</th>
              
            </tr>
            <tr>
              <th scope="row">PRODUCCION DE POZOS</th>
              
            </tr>
            <tr>
              <th scope="row">FUNDAMENTOS DE SEMENTACIONES</th>
              
            </tr>
            <tr>
              <th scope="row">DISEÑO Y PROGRAMACION (AUTOCAB)</th>
              
            </tr>
         
          </tbody>
        </table>
      </div>


    </div>
    
  </div>
</div>