.iconos{
    background-color: rgb(245, 245, 245);
    padding: 6px;
}

.iconos img{
    padding: 3px;
}

nav{
background: #005C97;  
background: -webkit-linear-gradient(to right, #363795, #005C97);  
background: linear-gradient(to right, #363795, #005C97); 
background-size: cover;


}

nav a{
    color: #ffffff;
}


nav a:hover{
 
    background-color: #005d97d5;
}



.tex{
    text-align: center;
}

a img{
    width: 80px;
}

