

<div class="container mt-g">
  <h1 class="animate__animated animate__bounce " >Instituto Cuauhtémoc Reforma</h1>
  <h2> Excelencia Académica, Siempre.</h2>
  <p>Instituto Cuauhtémoc te ofrece bachillerato con carreras Técnicas. 
     contamos con sistema  <b>En linea y Semiescolarizado.</b>
  </p>
</div>



<div class="container">
   <ul class="list-group">
      <li class="list-group-item"><button ><a [routerLink]="['/industrial_petrolero']">TÉCNICO INDUSTRIAL PETROLERO.</a> </button>  </li>
      <li class="list-group-item"><button>TÉCNICO EN ENFERMERÍA.  </button> </li>
      <li class="list-group-item"><button>TÉCNICO EN LOGÍSTICA. </button> </li>
      <li class="list-group-item"><button>TÉCNICO EN CONTABILIDAD. </button> </li>
      <li class="list-group-item"><button>TÉCNICO EN TRABAJO SOCIAL. </button> </li>
      <li class="list-group-item"><button>TÉCNICO EN ADMINISTRACIÓN DE R.H. </button> </li>
      <li class="list-group-item"><button>TÉCNICO EN MEDIOS DE COMUNICACIÓN. </button> </li>
    </ul>
</div>

<div class="container">
    <div class="costs">
       <h2>PRECIOS</h2>
       <div class="row">
          <div class="col-md-6">
             <h3>Costo Normal con beca</h3>
             <ul>
                <li>Inscripción: $ 800.00</li>
                <li> Colegiatura : $ 800.00</li>
             </ul>
          </div>
          <div class="col-md-6">
             <h3>Costo sin beca beca</h3>
             <ul>
                <li>Inscripción: $ 2000.00</li>
                <li>Colegiatura : $ 2000.00</li>
             </ul>
          </div>
       </div>
       <button type="button" class="btn btn-outline-warning">Registrate para una beca=>></button>
    </div>
  </div>
  <br>
  <div class="container">

   <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="10000">
          <img src="assets/img/careers/career_petrolero.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-interval="2000">
          <img src="assets/img/careers/career_trabajo_social.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/img/careers/career_logistica.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-interval="2000">
         <img src="assets/img/careers/career_enfermeria.jpg" class="d-block w-100" alt="...">
       </div>
       <div class="carousel-item">
         <img src="assets/img/careers/career_contablidad.jpg" class="d-block w-100" alt="...">
       </div>

      </div>
      <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
   
  </div>
