

<div class="container-fluid ">
  <h1 class="animate__animated animate__bounce " >Instituto Cuauhtémoc Reforma</h1>
  <h2> Excelencia Académica, Siempre.</h2>
  <h3>  Oferta Educativa</h3>
  <p>Instituto Cuauhtémoc te ofrece bachillerato con carreras Técnicas. 
     contamos con sistema  <b>En linea y Semiescolarizado.</b>
  </p>
</div>
<div class="container">
  <div class="carreras">
     <div class="col-md-12">
        <h3>     <a [routerLink]="['/industrial_petrolero']">TÉCNICO INDUSTRIAL PETROLERO </a>  </h3>
        <p>La carrera como técnico industrial petrolero permitirá al egresado analizar, diseñar y evaluar sistemas de seguridad en la industria petrolera , así como los procesos de estudios geológicos, perforación, extracción , industrialización y transporte del petroleo dentro del marco jurídico en territorio nacional, ademas la carrera la carrera técnico industrial petrolero te da la oportunidad de integrarte al campo laboral en el sector estatal o privado así como poder continuar tus estudios a nivel ingeniería del ramo petrolero.</p>
        <button>
        <a href="">Inscríbete</a>
        </button>
     </div>
     <hr>
     <div class="col-md-12">
        <h3> TÉCNICO EN ENFERMERÍA GENERAL </h3>
        <p>
           La carrera de Técnico en Enfermería General ofrece las competencias profesionales que permiten al estudiante aplicar medidas preventivas, cuidados de baja y mediana complejidad al adulto, 
           procedimientos de enfermería médico quirúrgicos, cuidado de la mujer en edad reproductiva, el niño y cuidado del adulto mayor. 
        </p>
        <button>
        <a href="">Inscríbete</a>
        </button>
     </div>
     <hr>
     <div class="col-md-12">
        <h3> TÉCNICO EN ADMINISTRACIÓN DE RECURSOS HUMANOS  </h3>
        <p>
           La carrera de Técnico en Administración de Recursos Humanos se desarrolla como vertiente de la carrera de Administración y ofrece las competencias profesionales que permiten al estudiante elaborar y gestionar documentación administrativa referente a recursos humanos, integrar al personal a la organización, asistir en actividades de capacitación, desarrollo 
           y evaluación del personal, así como determinar las remuneraciones al personal.
        </p>
        <button>
        <a href="">Inscríbete</a>
        </button>
     </div>
     <hr>
     <div class="col-md-12">
        <h3>  TECNICO EN LOGISTICA</h3>
        <p>La carrera de Técnico en Logística ofrece las competencias profesionales que permiten al estudiante desarrollarse en diversas competencias tales como:
        </p>
        <ul>
           <li>- Planeación, organización y control de servicios.</li>
           <li>- Aplicación de las tecnologías y sistemas de información para disminuir tiempos y costos en las transacciones.</li>
           <li>- Aplicación de métodos, técnicas y herramientas para la gestión de los flujos de materiales e información dentro de la empresa.</li>
           <li>- Diseño e interpretación de indicadores. Formulación de estadísticas sobre el desempeño logístico.</li>
        </ul>
        <button>
        <a href="">Inscríbete</a>
        </button>
     </div>
     <hr>
     <div class="col-md-12">
        <h3> TÉCNICO EN CONTABILIDAD  </h3>
        <p>
           La carrera de Técnico en Contabilidad ofrece las competencias profesionales que permiten al estudiante registrar operaciones contables de empresas comerciales y de servicios operando los procesos contables a través de un sistema electrónico, así como registrar operaciones contables de una entidad fabril, determinar contribuciones y asistir en actividades de auditoría.
           Asimismo, podrá desarrollar competencias genéricas relacionadas principalmente con la participación en los procesos de comunicación en distintos contextos, la integración efectiva a los equipos de trabajo y la intervención consciente, desde su comunidad en particular, en el país y el mundo en general, todo con apego al cuidado del medio ambiente
        </p>
        <button>
        <a href="">Inscríbete</a>
        </button>
     </div>
     <hr>
     <div class="col-md-12">
        <h3> TÉCNICO EN TRABAJO SOCIAL  </h3>
        <p>
           La formación que ofrece la carrera de Técnico en trabajo social permite al egresado, a través de la articulación de saberes de diversos campos, efectuar actividades dirigidas a la realización y apoyo de la investigación, promoción de servicios y programas institucionales, organización, atender y/o capacitar a grupos; orientar y colaborar en programas comunitarios; así como otorgar atención individualizada.
        </p>
        <button>
        <a href="">Inscríbete</a>
        </button>
     </div>
     <hr>
     <div class="col-md-12">
        <h3>TÉCNICO EN MEDIOS DE COMUNICACIÓN 
        </h3>
        <p>
           La carrera de Técnico en medios de comunicación ofrece las competencias profesionales que permiten al estudiante realizar actividades dirigidas a redactar géneros periodísticos para medios impresos y guiones para radio y televisión, realizar tomas fotográficas B/N y color, operar equipos de audio y video para radio y televisión, conducir programas de radio y televisión, así como asistir programas radiofónicos y televisivos.
        </p>
        <button>
        <a href="">Inscríbete</a>
        </button>
     </div>
     <br>
  </div>
</div>
<br>
<div class="container-fluid">
  <div class="costo">
     <h2>PRECIOS</h2>
     <div class="row">
        <div class="col-md-6">
           <h3>Costo Normal sin beca</h3>
           <ul>
              <li>Inscripción: $ 800.00</li>
              <li> Colegiatura : $ 800.00</li>
           </ul>
        </div>
        <div class="col-md-6">
           <h3>Costo con beca beca</h3>
           <ul>
              <li>Inscripción: $ 2000.00</li>
              <li>Colegiatura : $ 2000.00</li>
           </ul>
        </div>
     </div>
  </div>
</div>
<br>
<div class="container-fluid">
  <div class="costo">
     <div  class="row">
        <div class="col-md-8">
           <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                 <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                 <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                 <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                 <div class="carousel-item active">
                    <img src="assets/img/informacion_1.jpg" class="d-block w-100" alt="...">
                 </div>
                 <div class="carousel-item">
                    <img src="assets/img/informacion_2.jpg" class="d-block w-100" alt="...">
                 </div>
                 <div class="carousel-item">
                    <img src="assets/img/informacion_3.jpg" class="d-block w-100" alt="...">
                 </div>
                 <div class="carousel-item">
                    <img src="assets/img/informacion_1.jpg" class="d-block w-100" alt="...">
                 </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">ANTERIOR</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">SIGUIENTE</span>
              </a>
           </div>
        </div>
        <div class="col-md-4">
           <h2>SERVICIOS EN EL INSTITUTO</h2>
           <ul>
              <li>CAFETERIA</li>
              <li>AREAS CLIMATIZADAS</li>
              <li>SALA DE CONSULTA </li>
              <li>INTERNET</li>
              <li>CONSULTORIO PSICOPEDAGÓGICO</li>
           </ul>
        </div>
     </div>
  </div>
</div>

