
.slider{
    background-color:  #ffffff;
}
h1 {
    color: #04457a;
    font-family: 'Encode Sans', sans-serif;
    font-size: 6vh;
    text-align: center;
}


h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    color:  #f39c12}

 ul li{
    list-style: circle;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
 }

 
hr{
    background-color: #f39c12;
    font-size: 20px ;
    
}